<html>

<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="mars_weather/home">Mars Weather</a></li>
</ul>

<body>


<style>
body {
	background-image: url("/assets/background.jpg ");
    background-repeat:no-repeat;
    background-size:cover;
} 

</style>
 

</body>
</html>


