<html>

<div class = "container_for_links">
<ul class="nav nav-pills">
  <li><%= link_to "Home" ,"/"%></li>
  <li><%= link_to "Mars Weather", "/mars_overview/mars_weather"%></li>
  <li><%= link_to "Insight Mission", "/mars_overview/insight_mission" %></li>
</ul>
</div>

<body>


<style>
body {
	background-image: url("/assets/background.jpg ");
    background-repeat:no-repeat;
    background-size:cover;	
} 

</style>
 

</body>
</html>


